{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page final</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome to Flask examples</h1>
            <p>Welcome to Flask Innovation. Here we will be see how to do CURD operation in flask.
                checkout the github link for full code <a href="https://github.com/anupriya99"></p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Blog Post
            </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}